*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
  }

template {
    font-size: 16px;
}

h1 {
    font-size: 2.3rem;
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li{
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-size: 1.8rem;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

strong {
    font-weight: 700;
}

em{
    font-style: italic;
}

a{
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    /*Farver*/
    --red: #AE2824;
    --green: #2F5E28;
    --wine: #4D1614;
    --salmon: #F4A38A;
    --warm-grey: #4E4934;
    --curry: #FBBD29;
    --off-black: #252422;
    --off-white: #EFEFEC;
    --sand: #F6EADA;
}